In [12]:
if __name__ == "__main__":
    import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('/Users/ashleyrabanales/8410_Projects/Final project/Coffee Chain.csv')
print('coffee imported!')

coffee imported!

In [7]:
# iterating the columns
for col in df.columns:
    print(col)

Area Code
Ddate
Market
Market Size
Product
Product Type
State
Type
Budget Cogs
Budget Margin
Budget Profit
Budget Sales
Coffee Sales
Cogs
Inventory
Margin
Marketing
Number of Records
Number Of Records
Profit
Total Expenses

In [8]:
df.head(6)

,Area Code,Ddate,Market,Market Size,Product,Product Type,State,Type,Budget Cogs,Budget Margin,...,Budget Sales,Coffee Sales,Cogs,Inventory,Margin,Marketing,Number of Records,Number Of Records,Profit,Total Expenses
0,970,1/1/12,Central,Major Market,Decaf Irish Cream,Coffee,Colorado,Decaf,100,140,...,240,234,95,821,139,26,1,1,101,38
1,719,2/1/12,Central,Major Market,Decaf Irish Cream,Coffee,Colorado,Decaf,100,140,...,240,232,95,809,137,26,1,1,99,38
2,720,3/1/12,Central,Major Market,Decaf Irish Cream,Coffee,Colorado,Decaf,100,140,...,240,234,95,799,139,26,1,1,101,38
3,303,4/1/12,Central,Major Market,Decaf Irish Cream,Coffee,Colorado,Decaf,100,150,...,250,245,100,822,145,28,1,1,105,40
4,720,5/1/12,Central,Major Market,Decaf Irish Cream,Coffee,Colorado,Decaf,110,150,...,260,256,104,871,152,29,1,1,112,40
5,719,6/1/12,Central,Major Market,Decaf Irish Cream,Coffee,Colorado,Decaf,130,180,...,310,301,123,947,178,34,1,1,132,46

In [14]:
df.describe()

,Area Code,Budget Cogs,Budget Margin,Budget Profit,Coffee Sales,Cogs,Margin,Marketing,Number of Records,Number Of Records,Profit,Total Expenses
count,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.0,4248.0,4248.000000,4248.000000
mean,582.278013,74.830508,100.819209,60.913371,192.987524,84.433145,104.293315,31.185028,1.0,1.0,61.097693,54.063559
std,221.140310,66.238145,92.602725,79.546123,151.133127,67.249769,94.342522,27.023264,0.0,0.0,101.708546,32.352598
min,203.000000,0.000000,-210.000000,-320.000000,17.000000,0.000000,-302.000000,0.000000,1.0,1.0,-638.000000,10.000000
25%,417.000000,30.000000,50.000000,20.000000,100.000000,43.000000,52.750000,13.000000,1.0,1.0,17.000000,33.000000
50%,573.000000,50.000000,70.000000,40.000000,138.000000,60.000000,76.000000,22.000000,1.0,1.0,40.000000,46.000000
75%,772.000000,90.000000,130.000000,80.000000,230.000000,100.000000,132.000000,39.000000,1.0,1.0,92.000000,65.000000
max,985.000000,450.000000,690.000000,560.000000,912.000000,364.000000,613.000000,156.000000,1.0,1.0,778.000000,190.000000